*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}
html{
    overflow-x: hidden;
}
.hero{
    background-image: url(img/klifides_ancient_fire_with_led_2_opw-1024x688.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

#nadpis{
    font-size: 35px;
}
#reg-form{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    position: relative;
    margin: 35px auto;
    box-shadow: 0 0 20px 9px #0000001f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #0e26af,#ff105f);
    border-radius: 30px;
    transition: .5s;
}

.social-icons{
    margin: 10px auto;
    text-align: center;

}
.social-icons img{
   width: 35px;
   margin: 4px 4px;
   box-shadow: 0 0 20px 0 #7f7f7f3d;
   cursor: pointer;
   border-radius: 50%;
}
.social-icons img:hover{
    width: 35px;
    margin: 2px 4px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
    transform: scale(1.2);
 }
.input-group{
    position: absolute;
    top: 170px;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid #999;
    outline: none;
    background: transparent;
    margin-left: 1rem;
}
.submit-btn{
    width: 85%;
    padding: 12px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #0e26af,#ff105f);
    border: none;
    border-radius: 30px;
    margin-left: 2rem;
}
.check-box{
    margin: 30px 10px 30px 0;
    margin-left: 2rem;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}
#register{
    left: 450px;
    margin-top: -2rem;
}
#colapse_btn{
    background-color: white;
    height: 15px;
}
#logo{
    height: 30px;
    margin-top: .5rem;
    margin-left: 0.5rem;
}

@media (max-width: 420px){
    #reg-form{
    width: 300px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;}

    .input-field{
    width: 80%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid #999;
    outline: none;
    background: transparent;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
.submit-btn{
    width: 70%;
    padding: 12px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #0e26af,#ff105f);
    border: none;
    border-radius: 30px;
    margin-left: .5rem;
}
}













